body {
	background-color: #39414A;
	color: white;
	font-family: Helvetica, Arial, sans-serif;
	font-size: smaller;
	background-image: url("nav_bg.png");
	background-repeat: repeat-x;
}
a {
	color: white;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
div#tree {
	position: absolute;
	height: 100%;
	width: 100%;
	padding: 5px;
	margin-right: 16px;
}
ul.dynatree-container {
	height: 100%;
	width: 100%;
	background-color: transparent;
}
ul.dynatree-container a {
	color: white;
	border: 1px solid transparent;
	background-color: transparent;
}
ul.dynatree-container a:hover {
	background-color: transparent;
}
ul.dynatree-container a:focus, span.dynatree-focused a:link {
	background-color: gray;
}